html  
  head 
    title dash 
    link(rel="stylesheet", href="index.css", type="text/css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  body(style="background-image:url('bg.jpg',background-repeat:no-repeat")
  
   .header
 
    img(src="icon.jpeg",alt="this is the image section")
    h4.fon  ARTS DE SERVICE
   .container 
    .side 
     h4 Customer Details
     h5 Email: #{email}
     h5 Name:  #{username}
     h5 gender : #{gender}
     h5 Address:#{address}
     

     
     a(href="/book") book service

    .center 
     h4 Booked Service
     if(!service)
       h4 No Service has Been Boked
     else 
      h5 Service name : #{service} 
      h5 Person incharge: #{personel}
      h5 Time Offered : #{time}
      
     
    
    .side2
     a(href="/logout") logout
   
   

     


   

    
  


   
        